.App {
  max-width: 920px;
  height: 80vh;
  border: 1px solid red;
  font-size: 20px;
  background-color: #dcded93c;
  padding: 20px;
  margin-top: 20px;
  margin: 0 auto;
}
.calculator {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
